@import "../game/styles/variables.css";

.right-menu-panel {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: var(--color-background-primary);
  border-radius: var(--corner-radius);
  border: var(--color-border) 2px solid;
  padding: var(--spacing-s);
  gap: var(--spacing-m);
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.turn-count {
  font: var(--text-body);
  color: var(--color-white);
}

.menu-btn,
.exit-btn {
  font: var(--text-body);
  border: none;
  background: transparent;
  color: var(--color-white);
  cursor: pointer;
  transition: background 0.2s;
}
.menu-btn:hover,
.exit-btn:hover {
  color: var(--color-border);
}
