.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-xs) var(--spacing-m);
    margin: 0;
    gap: var(--spacing-s);
    width: 220px;
    height: 300px;
    background: var(--color-background-secondary);
    border: 4px solid var(--color-border);
    border-radius: var(--corner-radius);
    cursor: pointer;
    position: relative;
}

.card-cost {
    position: absolute;
    display: flex;
    align-items: center;
    top: calc(-1 * var(--spacing-s));
    left: calc(-1 * var(--spacing-s));
    background: var(--color-border);
    color: var(--color-white);
    padding: var(--spacing-s);
    border-radius: var(--corner-radius);
    font: var(--text-small);
    font-weight: bold;
    gap: var(--spacing-xs);
}

.card-title {
    font: var(--text-body);
    font-weight: 700;
    color: var(--color-white);
    margin: 0;
    text-align: center;
    width: 100%;
}

.card-image {
    width: 100%;
    max-width: 180px;
    height: 100px;
    background-color: var(--color-dark);
    border-radius: var(--corner-radius);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-lightest);
    font: var(--text-small);
}

.card-description {
    font: var(--text-small);
    color: var(--color-white);
    margin: 0;
}

.card-type {
    font: var(--text-small);
    color: var(--color-lightest);
    text-align: center;
    width: 100%;
    margin-top: auto;
}
