@import './styles/variables.css'; /* Import CSS variables for all the app */

body,
#root {
    background: var(--color-background);
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

/* Map label (Fleet, Planet, etc.) */
.map-label {
    background: var(--color-background-secondary);
    color: var(--color-white);
    font: var(--text-small);
    padding: var(--spacing-s);
    border-radius: var(--corner-radius);
    border: 1px solid var(--color-border);
    cursor: pointer;
}
.map-label:hover {
    background: var(--color-border);
}

/* Fleet label */
.fleet-power {
    margin-left: var(--spacing-m);
}
.fleet-name,
.power-value {
    margin-left: var(--spacing-xs);
}
